.resizable-image-wrapper {
  display: block !important;
  width: 100% !important;
  margin: 0 auto;
}

.resizable-image-container {
  position: relative;
  display: inline-block !important;
  line-height: 0;
  max-width: 100%;
  min-width: 40px;
  min-height: 40px;
  overflow: visible;
  margin: 4px;
}

/* Display Modes */
.resizable-image-container.display-block {
  display: block;
}

.resizable-image-container.display-inline-block {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem;
}

/* Alignment */
.resizable-image-wrapper {
  width: 100% !important;
  display: block !important;
}

.resizable-image-wrapper-align-left {
  text-align: left !important;
}

.resizable-image-wrapper-align-center {
  text-align: center !important;
}

.resizable-image-wrapper-align-right {
  text-align: right !important;
}

.resizable-image-container.align-left,
.resizable-image-container.align-right,
.resizable-image-container.align-center {
  display: inline-block !important;
  /* Alignment is handled by text-align on the wrapper */
}

.resizable-image-container.ProseMirror-selectednode {
  outline: 2px dashed #a5b4fc;
  outline-offset: 2px;
}

.resizable-image-container .editor-image {
  width: 100%;
  height: auto;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 40px;
  background-color: #3b82f6;
  border: 1px solid white;
  border-radius: 4px;
  cursor: ew-resize;
  z-index: 10;
  display: none;
  opacity: 0.8;
  transition: all 0.2s ease;
}

.resize-handle-left {
  left: -12px;
}

.resize-handle-right {
  right: -12px;
}

.resize-handle-left:hover,
.resize-handle-right:hover {
  opacity: 1;
  width: 10px;
}

.ProseMirror-selectednode .resize-handle-left,
.ProseMirror-selectednode .resize-handle-right {
  display: block;
}
